*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'popping',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: cursive;
    background-color: #e3e8ef;


}
.container {
    display: flex;
}
nav {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 200vh;
    background: #fff;
    width: 280px;
    /* overflow: hidden; */
    box-shadow: 0  20px 20px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}
nav img {
    width: 80%;
    height: 11%;
    margin-left: 15px;
    margin-top: 14px;
}
nav ul {
    margin-top: 20px;
}
nav ul li {
    margin: 30px 0;
}
nav
a{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: tale;
    width: 280px;
    padding: 10px 20px;
    text-decoration: none;   

}
a i {
    position: relative;
    color: blue;
    font-size: 20px;
    margin-right: 10px;
}
a:hover {
      transition: 0.3s;
    text-decoration: overline;
}

.logout{
    margin-top: 200px;
    bottom: 0;
}

/* main section*/

.main{
    position: relative;
    padding: 20px;
   width:100%;

}
.main-top {
    display: flex;
    width: 100%;
}
.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(11,109,109);
    cursor: pointer;

}
.main-top span {
 font-size:2rem;
    margin-left: 20px;
    color: #1604de;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.main-skills{
 display: flex;
 margin-top: 20px;

}
.main-skills .card {
    width: 25%;
   margin: 10px;
   background-color: #ffffff;
   text-align: center;
   border-radius: 20px;
   padding:10px ;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3 {
    color: rgb(59, 5, 235);
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.main-skills i {
    color: rgb(59, 5, 235);
    font-size: 50px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.main-skills .card button {
   background-color: rgb(59, 5, 235);
   color: #fff;
   padding: 7px 15px;
   border-radius: 10px;
   margin-top: 15px;
   cursor: pointer;
}
.main-skills .card button:hover {
    background-color: #fff;
    color: rgb(59, 5, 235);
    border: 1px solid rgb(59, 5, 235);
    transition: 0.3s;
}

/* skills */

.main-course {
    margin-top: 20px;
    text-transform: capitalize;
}
.skill-box{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.skill-box ul {
      list-style: none;
      display: flex;      
}
.skill-box ul li {
    margin: 10px;
    color: #000;
    cursor: pointer;
}

.skill-box ul .active {
    color: #000;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
.skill-box .course {
    display: flex;
}
.box {
    width: 33%;
    padding:10px ;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(205, 198, 198, 0.5);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box  p {
    font-size: 17px;
    margin-top: 5px;
}
.box button {
    background: #000;
    font-size: 17px;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}
.box button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    transition: 0.3s;
}
.box i{
    font-size: 7rem;
    float: right;
    margin: -70px 20px 40px 0;
    color: #1604de;
      }

    
    /* articles style */

    .articles{
        margin-top: 20px;
        text-transform: capitalize;
    }
     .articles h1 {
        text-align: center;
        color: rgb(59, 5, 235);
        font-size: 30px;
        margin-bottom: 20px;
     }
    .article-box {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #f3eded;
        border-radius: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }
    .article {
        display: flex;
        margin-top: 20px;
        padding: 20px;        
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .article h3 {
        color: rgb(59, 5, 235);
        font-size: 20px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .article p {
        font-size: 17px;
        margin-top: 5px;


    }
    .article i {
      
        color: #000000;
    }

